@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-enter {
  @apply opacity-0 transition;
  transform: scaleX(0.1) scaleY(0.1) rotateX(80deg);
}
.modal-enter-active {
  @apply opacity-100 transition duration-300;
  transform: rotateX(0deg);
}
.modal-exit {
  @apply opacity-100;
  transform: rotateX(0deg) scaleX(1) scaleX(1);
}
.modal-exit-active {
  @apply opacity-0 duration-500;
  transform: rotateX(80deg) scaleX(0.1) scaleY(0.1);
}
